# ANALYSIS AND INSIGHT
According to the data provided, there are 15 schools divided into two types (District and Charter). There are 39170 students in total, with 19735 females and 19435 males. The total budget for the entire school is $2464928. According to the DataFrame, the number of students is synonymous with the school's budget, with Bailey High School having the most students (4976) and the most money (3124928), and Holden High School having the fewest (427) and the most money (3124928). (248087).

Pena High School and Holden High School have the fewest students and the highest average math score of any school, at 83.84 percent and 83.80 percent, respectively. Meanwhile, Huang High School had the lowest math score of 76.63 percent. Pena High School has the most students. 94.6 percent of students passed math. Thomas High School has the highest percentage of students who pass their classes, at 97.31 percent. Cabrera High School has the highest overall passing percentage (91.3%), while Rodriguez High School has the lowest (52.99%).

Charter schools have the fewest students, the smallest school budget, and the smallest per-student budget when compared to their District counterparts. Charter school students, on the other hand, appear to be doing much better academically. Charter school students performed best in math and reading, as well as in terms of overall passing percentage. This is demonstrated in the final summary table.

In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# CSV Files imported
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# To sort the school data dataframe by school name
sorted_school_data = school_data.sort_values("school_name")

In [6]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, sorted_school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

# District Summary

In [7]:
#To calculate schools in the complete data sef
total_school = school_data_complete["school_name"].value_counts()
total_school_number = total_school.count()
total_school_number

15

In [8]:
# To Calculate the total number of students.
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [9]:
# To Calculate the total budget. used the "school_data" and not the merged value "school_data_complete"
budget = school_data["budget"].sum()
budget

24649428

In [12]:
# To Calculate the average reading score
average_reading = school_data_complete["reading_score"].mean()
average_reading

81.87784018381414

In [13]:
# To Calculate the percentage of students with a passing math score (70 or greater), firstfind the number of student 
# with a passing mark (70 or greater) and then Calculate the percentage of students who passed maths
math_filter = (school_data_complete["math_score"]>=70)
passing_mark_math = school_data_complete[math_filter]["Student ID"].count()

passing_math_percentage = (passing_mark_math / student_count) * 100
passing_math_percentage

74.9808526933878

In [15]:
# To Calculate the percentage of students with a passing reading score (70 or greater), first find the number of student 
# with a passing mark (70 or greater) and then Calculate the percentage from overall number of students
reading_filter = (school_data_complete["reading_score"]>=70)

passe = [read for read in school_data_complete[reading_filter]["Student ID"]]
passing_mark_reading = len(passe)
passing_reading_percentage = (passing_mark_reading / student_count) * 100
passing_reading_percentage

85.80546336482001

In [16]:
# To Calculate the percentage of students who passed math and reading (% Overall Passing)
passing_mark_both = school_data_complete[math_filter & reading_filter]["Student ID"].count()
passing_both_percentage = (passing_mark_both / student_count) * 100
passing_both_percentage

65.17232575950983

# School Summary

In [20]:
# To Check names of schools
school_type = sorted_school_data.set_index(["school_name"])["type"]
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [21]:
school_name = sorted_school_data.set_index(["School ID"])["school_name"]
school_name

School ID
7        Bailey High School
6       Cabrera High School
1      Figueroa High School
13         Ford High School
4       Griffin High School
3     Hernandez High School
8        Holden High School
0         Huang High School
12      Johnson High School
9          Pena High School
11    Rodriguez High School
2       Shelton High School
14       Thomas High School
5        Wilson High School
10       Wright High School
Name: school_name, dtype: object

In [22]:
# To count total  students, determined by school count on dataframe
school_count = school_data_complete["school_name"].value_counts().sort_index()
school_count

Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: school_name, dtype: int64

In [23]:
# To calculate Total School Budget, group by "school name" and then calculate school budget
grouped_df = school_data_complete.groupby(["school_name"])
#grouped_df.get_group("value")
#grouped_df["column"].mean().loc["value"]
school_budget =grouped_df.mean()["budget"]
school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [24]:
# To calculate per student budget
per_student_budget = school_budget / school_count
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [25]:
# Average Math Score
average_math_per_school = grouped_df.mean()["math_score"]
average_math_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64