# ANALYSIS AND INSIGHT
According to the data provided, there are 15 schools divided into two types (District and Charter). There are 39170 students in total, with 19735 females and 19435 males. The total budget for the entire school is $2464928. According to the DataFrame, the number of students is synonymous with the school's budget, with Bailey High School having the most students (4976) and the most money (3124928), and Holden High School having the fewest (427) and the most money (3124928). (248087).

Pena High School and Holden High School have the fewest students and the highest average math score of any school, at 83.84 percent and 83.80 percent, respectively. Meanwhile, Huang High School had the lowest math score of 76.63 percent. Pena High School has the most students. 94.6 percent of students passed math. Thomas High School has the highest percentage of students who pass their classes, at 97.31 percent. Cabrera High School has the highest overall passing percentage (91.3%), while Rodriguez High School has the lowest (52.99%).

Charter schools have the fewest students, the smallest school budget, and the smallest per-student budget when compared to their District counterparts. Charter school students, on the other hand, appear to be doing much better academically. Charter school students performed best in math and reading, as well as in terms of overall passing percentage. This is demonstrated in the final summary table.

In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# CSV Files imported
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# To sort the school data dataframe by school name
sorted_school_data = school_data.sort_values("school_name")

In [6]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, sorted_school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

# District Summary

In [7]:
#To calculate schools in the complete data sef
total_school = school_data_complete["school_name"].value_counts()
total_school_number = total_school.count()
total_school_number

15

In [8]:
# To Calculate the total number of students.
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [9]:
# To Calculate the total budget. used the "school_data" and not the merged value "school_data_complete"
budget = school_data["budget"].sum()
budget

24649428

In [12]:
# To Calculate the average reading score
average_reading = school_data_complete["reading_score"].mean()
average_reading

81.87784018381414

In [13]:
# To Calculate the percentage of students with a passing math score (70 or greater), firstfind the number of student 
# with a passing mark (70 or greater) and then Calculate the percentage of students who passed maths
math_filter = (school_data_complete["math_score"]>=70)
passing_mark_math = school_data_complete[math_filter]["Student ID"].count()

passing_math_percentage = (passing_mark_math / student_count) * 100
passing_math_percentage

74.9808526933878

In [15]:
# To Calculate the percentage of students with a passing reading score (70 or greater), first find the number of student 
# with a passing mark (70 or greater) and then Calculate the percentage from overall number of students
reading_filter = (school_data_complete["reading_score"]>=70)

passe = [read for read in school_data_complete[reading_filter]["Student ID"]]
passing_mark_reading = len(passe)
passing_reading_percentage = (passing_mark_reading / student_count) * 100
passing_reading_percentage

85.80546336482001

In [16]:
# To Calculate the percentage of students who passed math and reading (% Overall Passing)
passing_mark_both = school_data_complete[math_filter & reading_filter]["Student ID"].count()
passing_both_percentage = (passing_mark_both / student_count) * 100
passing_both_percentage

65.17232575950983

# School Summary

In [20]:
# To Check names of schools
school_type = sorted_school_data.set_index(["school_name"])["type"]
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [21]:
school_name = sorted_school_data.set_index(["School ID"])["school_name"]
school_name

School ID
7        Bailey High School
6       Cabrera High School
1      Figueroa High School
13         Ford High School
4       Griffin High School
3     Hernandez High School
8        Holden High School
0         Huang High School
12      Johnson High School
9          Pena High School
11    Rodriguez High School
2       Shelton High School
14       Thomas High School
5        Wilson High School
10       Wright High School
Name: school_name, dtype: object

In [22]:
# To count total  students, determined by school count on dataframe
school_count = school_data_complete["school_name"].value_counts().sort_index()
school_count

Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: school_name, dtype: int64

In [23]:
# To calculate Total School Budget, group by "school name" and then calculate school budget
grouped_df = school_data_complete.groupby(["school_name"])
#grouped_df.get_group("value")
#grouped_df["column"].mean().loc["value"]
school_budget =grouped_df.mean()["budget"]
school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [24]:
# To calculate per student budget
per_student_budget = school_budget / school_count
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [25]:
# Average Math Score
average_math_per_school = grouped_df.mean()["math_score"]
average_math_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [26]:
# Average Reading Score
average_reading_per_school = grouped_df.mean()["reading_score"]
average_reading_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [27]:
# The Percentage of school with passing math
math_filter = (school_data_complete["math_score"]>=70)
passed_mark_math = school_data_complete[math_filter]
math_mark_per_school = passed_mark_math.groupby(["school_name"]).count()["Student ID"]
math_mark_per_school

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [28]:
#The percentage of students who passed math
percentage_math_per_school = (math_mark_per_school / school_count)*100
percentage_math_per_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [29]:
reading_filter = (school_data_complete["reading_score"]>=70)
passed_reading_mark = school_data_complete[reading_filter]
reading_mark_per_school = passed_reading_mark.groupby(["school_name"]).count()["Student ID"]
reading_mark_per_school

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [30]:
#The percentage of students who passed reading
percentage_reading_per_school = (reading_mark_per_school / school_count)*100
percentage_reading_per_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [31]:
# First to calculate total number of students that passed both maths and reading
overall = (school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)
passed_overall_mark  = school_data_complete[overall]
overall_mark_per_school = passed_overall_mark.groupby(["school_name"]).count()["Student ID"]
overall_mark_per_school

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: Student ID, dtype: int64

In [32]:
#The percentage of students who passed both reading and maths
percentage_overall_per_school = (overall_mark_per_school / school_count)*100
percentage_overall_per_school

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [33]:
# creating pandas Datadaframe from lists using zip
list_of_tuples = list(zip(school_name, school_type, school_count, school_budget, per_student_budget, 
                          average_math_per_school, average_reading_per_school, percentage_math_per_school,
                          percentage_reading_per_school, percentage_overall_per_school))
 
# Assign data to tuples.
list_of_tuples
 
# Converting lists of tuples into
# pandas Dataframe.
df = pd.DataFrame(list_of_tuples,
                  columns=['School Name','School Type', 'Total Students','Total School Budget', 'Per Student Budget',
                          'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading',
                          '% Overall Passing'])
full_school_summary = df.set_index('School Name')
full_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

# Highest Performing Schools by Percentage overall Passing

In [34]:
# To Sort and display the top five performing schools by % overall passing.
sorted_highest = full_school_summary.sort_values("% Overall Passing", ascending=False)
final_sorted_highest = sorted_highest.head()
final_sorted_highest

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

# Bottom Performing Schools by Percentage Overall Passing

In [35]:
# TO Sort and display the five worst-performing schools by % overall passing
sorted_lowest = full_school_summary.sort_values("% Overall Passing")
final_sorted_lowest = sorted_lowest.head()
final_sorted_lowest

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

# Scores by Grade

In [36]:
# To Create a pandas series for 9th grade. using a conditional statement.
grade_ninth = school_data_complete.loc[school_data_complete['grade']=='9th']
#reduce the columns to the desired ones
organized_df = grade_ninth[["grade", "school_name", "reading_score"]]
# group the dataframe by the school name: using groupby() method
organized_9th = organized_df.groupby(["school_name"]).mean()
organized_9th

                       reading_score
school_name
Bailey High School         81.303155
Cabrera High School        83.676136
Figueroa High School       81.198598
Ford High School           80.632653
Griffin High School        83.369193
Hernandez High School      80.866860
Holden High School         83.677165
Huang High School          81.290284
Johnson High School        81.260714
Pena High School           83.807273
Rodriguez High School      80.993127
Shelton High School        84.122642
Thomas High School         83.728850
Wilson High School         83.939778
Wright High School         83.833333

In [37]:
# To Create a pandas series for 10th grade. using a conditional statement.
reading_10th = school_data_complete.loc[school_data_complete['grade']=='10th']
#reduce the columns to the desired ones
organized_reading_10th = reading_10th[["grade", "school_name", "reading_score"]]
# group the dataframe by the school name: using groupby() method
organized_10th = organized_reading_10th.groupby(["school_name"]).mean()
organized_10th

                       reading_score
school_name
Bailey High School         80.907183
Cabrera High School        84.253219
Figueroa High School       81.408912
Ford High School           81.262712
Griffin High School        83.706897
Hernandez High School      80.660147
Holden High School         83.324561
Huang High School          81.512386
Johnson High School        80.773431
Pena High School           83.612000
Rodriguez High School      80.629808
Shelton High School        83.441964
Thomas High School         84.254157
Wilson High School         84.021452
Wright High School         83.812757

In [38]:
# To Create a pandas series for 10th grade. using a conditional statement.
reading_11th = school_data_complete.loc[school_data_complete['grade']=='11th']
#reduce the columns to the desired ones
organized_reading_11th = reading_11th[["grade", "school_name", "reading_score"]]
# group the dataframe by the school name: using groupby() method
organized_11th = organized_reading_11th.groupby(["school_name"]).mean()
organized_11th

                       reading_score
school_name
Bailey High School         80.945643
Cabrera High School        83.788382
Figueroa High School       80.640339
Ford High School           80.403642
Griffin High School        84.288089
Hernandez High School      81.396140
Holden High School         83.815534
Huang High School          81.417476
Johnson High School        80.616027
Pena High School           84.335938
Rodriguez High School      80.864811
Shelton High School        84.373786
Thomas High School         83.585542
Wilson High School         83.764608
Wright High School         84.156322

In [39]:
# To Create a pandas series for 10th grade. using a conditional statement.
reading_12th = school_data_complete.loc[school_data_complete['grade']=='12th']
#reduce the columns to the desired ones
organized_reading_12th = reading_12th[["grade", "school_name", "reading_score"]]
# group the dataframe by the school name: using groupby() method
organized_12th = organized_reading_12th.groupby(["school_name"]).mean()
organized_12th

                       reading_score
school_name
Bailey High School         80.912451
Cabrera High School        84.287958
Figueroa High School       81.384863
Ford High School           80.662338
Griffin High School        84.013699
Hernandez High School      80.857143
Holden High School         84.698795
Huang High School          80.305983
Johnson High School        81.227564
Pena High School           84.591160
Rodriguez High School      80.376426
Shelton High School        82.781671
Thomas High School         83.831361
Wilson High School         84.317673
Wright High School         84.073171

In [40]:
# Creating pandas Datadaframe from lists
reading_data = {'9th': organized_9th["reading_score"],
                '10th': organized_10th["reading_score"],
                '11th': organized_11th["reading_score"],
                '12th': organized_12th["reading_score"]}
                
 
# Create DataFrame
reading_summary_df = pd.DataFrame(reading_data)
 
# Print the output.
reading_summary_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Math Scores by Grade

In [41]:
# To Create a pandas series for 9th grade. using a conditional statement.
grade_ninth = school_data_complete.loc[school_data_complete['grade']=='9th']
#reduce the columns to the desired ones
organized_df = grade_ninth[["grade", "school_name", "math_score"]]
# group the dataframe by the school name: using groupby() method
math_organized_9th = organized_df.groupby(["school_name"]).mean()
math_organized_9th

                       math_score
school_name
Bailey High School      77.083676
Cabrera High School     83.094697
Figueroa High School    76.403037
Ford High School        77.361345
Griffin High School     82.044010
Hernandez High School   77.438495
Holden High School      83.787402
Huang High School       77.027251
Johnson High School     77.187857
Pena High School        83.625455
Rodriguez High School   76.859966
Shelton High School     83.420755
Thomas High School      83.590022
Wilson High School      83.085578
Wright High School      83.264706

In [42]:
# To Create a pandas series for 10th grade. using a conditional statement.
math_10th = school_data_complete.loc[school_data_complete['grade']=='10th']
#reduce the columns to the desired ones
organized_math_10th = math_10th[["grade", "school_name", "math_score"]]
# group the dataframe by the school name: using groupby() method
math_organized_10th = organized_math_10th.groupby(["school_name"]).mean()
math_organized_10th

                       math_score
school_name
Bailey High School      76.996772
Cabrera High School     83.154506
Figueroa High School    76.539974
Ford High School        77.672316
Griffin High School     84.229064
Hernandez High School   77.337408
Holden High School      83.429825
Huang High School       75.908735
Johnson High School     76.691117
Pena High School        83.372000
Rodriguez High School   76.612500
Shelton High School     82.917411
Thomas High School      83.087886
Wilson High School      83.724422
Wright High School      84.010288

In [43]:
# To Create a pandas series for 10th grade. using a conditional statement.
math_11th = school_data_complete.loc[school_data_complete['grade']=='11th']
#reduce the columns to the desired ones
organized_math_11th = reading_11th[["grade", "school_name", "math_score"]]
# group the dataframe by the school name: using groupby() method
math_organized_11th = organized_math_11th.groupby(["school_name"]).mean()
math_organized_11th

                       math_score
school_name
Bailey High School      77.515588
Cabrera High School     82.765560
Figueroa High School    76.884344
Ford High School        76.918058
Griffin High School     83.842105
Hernandez High School   77.136029
Holden High School      85.000000
Huang High School       76.446602
Johnson High School     77.491653
Pena High School        84.328125
Rodriguez High School   76.395626
Shelton High School     83.383495
Thomas High School      83.498795
Wilson High School      83.195326
Wright High School      83.836782

In [44]:
# To Create a pandas series for 10th grade. using a conditional statement.
math_12th = school_data_complete.loc[school_data_complete['grade']=='12th']
#reduce the columns to the desired ones
organized_math_12th = math_12th[["grade", "school_name", "math_score"]]
# group the dataframe by the school name: using groupby() method
math_organized_12th = organized_math_12th.groupby(["school_name"]).mean()
math_organized_12th

                       math_score
school_name
Bailey High School      76.492218
Cabrera High School     83.277487
Figueroa High School    77.151369
Ford High School        76.179963
Griffin High School     83.356164
Hernandez High School   77.186567
Holden High School      82.855422
Huang High School       77.225641
Johnson High School     76.863248
Pena High School        84.121547
Rodriguez High School   77.690748
Shelton High School     83.778976
Thomas High School      83.497041
Wilson High School      83.035794
Wright High School      83.644986

In [45]:
# creating pandas Datadaframe from lists
math_data = {'9th': math_organized_9th["math_score"],
                '10th': math_organized_10th["math_score"],
                '11th': math_organized_11th["math_score"],
                '12th': math_organized_12th["math_score"]}
                
 
# Create DataFrame
math_summary_df = pd.DataFrame(math_data)
 
# Print the output.
math_summary_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Scores by School Spending

In [46]:
# To create bins in which to place values  based on average Spending Ranges (Per Student)
bins = [0,584,630,645,680,]

In [47]:
budget_label = ["<$585", "$585-630", "$630-645", "$645-680"]

In [48]:
# Slice the data and place it into bins
pd.cut(full_school_summary["Per Student Budget"], bins, labels = budget_label).head()

School Name
Bailey High School      $585-630
Cabrera High School        <$585
Figueroa High School    $630-645
Ford High School        $630-645
Griffin High School     $585-630
Name: Per Student Budget, dtype: category
Categories (4, object): ['<$585' < '$585-630' < '$630-645' < '$645-680']

In [49]:
# Place the data series into a new column inside the dataframe 
full_school_summary["Spending Ranges (Per Student)"] = pd.cut(full_school_summary["Per Student Budget"], bins, labels = budget_label)
full_school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
School Name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630

In [50]:
# create a groupby object based upon Spending Ranges (Per Student)
per_student_budget = full_school_summary.groupby("Spending Ranges (Per Student)")

# Find out how many rows fall into each bin
print(per_student_budget["Per Student Budget"].count())

# Get the average of each of the 5 rating columns within the groupby object
per_student_budget[["Average Math Score", "Average Reading Score", "% Passing Math", 
                                        "% Passing Reading","% Overall Passing"]].mean()

Spending Ranges (Per Student)
<$585       4
$585-630    4
$630-645    4
$645-680    3
Name: Per Student Budget, dtype: int64

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

# Score by School Type

In [51]:
# To calculate average score by school type
school_type_df = full_school_summary[['School Type','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing']]
school_type_df.groupby(["School Type"]).mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208